{% extends 'base.html' %} {%block csp%} 
<meta http-equiv="Content-Security-Policy" 
content="default-src 'self'; 
         style-src 'self' https://fonts.googleapis.com; 
         font-src 'self' https://fonts.googleapis.com https://fonts.gstatic.com;
         img-src 'self' data:;">
{% endblock %}{% block title %}View Gift{% endblock %} {% block
content %} 
<!-- 
<head> 
  <meta http-equiv="Content-Security-Policy" 
  content="default-src 'self'; 
           style-src 'self';">
</head>
-->
<h1>View Gift</h1>
<span>
  <strong>Message:</strong>
  <!-- <p>{{ gift.note | safe}}</p> -->
  <p>{{ gift.note | safe}}
</span>
<div id="code" value="{{ gift.code }}">Code: {{ gift.code }}</div>
{% endblock %}
